<app-home-page></app-home-page>
<div class="container">
  <h2>Facility Management</h2>

  <form [formGroup]="form">
    <h3>Onboard a Facility</h3>

    <label for="building">Building Name:</label>
    <select formControlName="building" required>
      <option
        *ngFor="let building of buildingList"
        [value]="building?.buildingId"
      >
        {{ building?.buildingId }} - {{ building?.buildingName }}
      </option>
    </select>

    <label for="floor">Floor:</label>
    <input type="number" formControlName="floor" name="floor" required />
    <div
    class="validationError"
    *ngIf="
      form.controls['floor'].hasError('required')">
    Only numbers are valid.
  </div>

    <label for="facilityName">Facility Name:</label>
    <input
      type="text"
      formControlName="facilityName"
      name="facilityName"
      required
    />

    <button (click)="createFacility()" [disabled]="!form.valid">Submit</button>
  </form>
</div>
